NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

ALIEXPRESS_APP_KEY=
ALIEXPRESS_APP_SECRET=
ALIEXPRESS_APP_SIGNATURE=
ALIEXPRESS_TRACKING_ID=
ALIEXPRESS_TARGET_COUNTRY=GR
ALIEXPRESS_TARGET_CURRENCY=EUR
ALIEXPRESS_TARGET_LANGUAGE=EN

CRON_SECRET=
ADMIN_DASHBOARD_USER=
ADMIN_DASHBOARD_PASSWORD=
